:root {
  --white-color: #ffffff;
  --black-text-color: #21243d;
  --coral-color: #ff6464;
  --bg-color-recent-posts: #edf7fa;
  --link-color: #00a8cc;
  --light-grey-color-date: #8695a4;
  --color-text-footer: #678398;
  --bg-year-tag: #2a326f;
}