<div class="wrapper">
      <header class="header">
        <div class="header__container">
          <nav class="menu">
            <a class="logo" href="./index.html"
              ><img
                class="logo__img"
                src="./img/logo.svg"
                alt="John - Creative Technologist"
              />
            </a>
            <ul class="menu__lists">
              <li><a class="menu__item" href="./blog.html">Blog</a></li>
              <li><a class="menu__item" href="./work.html">Work</a></li>
              <li><a class="menu__item" href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main">
        <div class="hero__block">
          <div class="container">
            <section class="hero">
              <div class="hero__container">
                <h1 class="hero__title">
                  Hi, I'm John! <br />
                  Creative Technologist
                </h1>
                <p class="hero__text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Fugiat, libero dolor nulla praesentium quis impedit asperiores
                  adipisci quidem deserunt voluptas ducimus corrupti!
                </p>
                <a class="hero__link" href="./work.html">Check my Work</a>
              </div>
              <div class="hero__img__container">
                <img
                  class="hero__img"
                  src="./images/hero-john-image.jpg"
                  alt="John portrait"
                  width="243"
                  height="243"
                />
              </div>
            </section>
          </div>
        </div>
        <div class="posts__block">
          <div class="container">
            <section class="posts">
              <div class="posts__title__block">
                <div class="post__title__row">
                  <h2 class="posts__title">Recent Posts</h2>
                  <a class="posts__link" href="./blog.html">View all</a>
                </div>
              </div>
              <div class="posts__row">
                <a href="./blog.html">
                  <ul class="posts__links">
                    <div class="post__link">
                      <li><h3 class="posts__title">Post Title</h3></li>
                      <li>
                        <p class="posts__info">
                          <span class="post__date">12 Feb 21 </span> Design
                          System
                        </p>
                      </li>
                      <li>
                        <p class="posts__text">
                          Amet minim mollit non deserunt ullamco est sit aliqua
                          dolor do amet sint. Velit officia consequat duis enim
                          velit mollit. Exercitation veniam consequat sunt
                          nostrud amet.
                        </p>
                      </li>
                    </div>
                  </ul>
                </a>
                <a href="./blog.html">
                  <ul class="posts__links">
                    <div class="post__link">
                      <li><h3 class="posts__title title">Post Title</h3></li>
                      <li>
                        <p class="posts__info">
                          <span class="post__date">12 Feb 21 </span> Design
                          System
                        </p>
                      </li>
                      <li>
                        <p class="posts__text">
                          Amet minim mollit non deserunt ullamco est sit aliqua
                          dolor do amet sint. Velit officia consequat duis enim
                          velit mollit. Exercitation veniam consequat sunt
                          nostrud amet.
                        </p>
                      </li>
                    </div>
                  </ul>
                </a>
              </div>
            </section>
          </div>
        </div>
        <section class="featured">
          <div class="container">
            <div class="featured__title__row">
              <h2 class="featured__title">Featured Work</h2>
              <a class="featured__link" href="./work.html">View all</a>
            </div>
            <div class="featured__work__list">
              <a href="./work.html">
                <ul class="featured__lists">
                  <li>
                    <img
                      class="featured__img"
                      src="./img/featured-1.jpg"
                      alt="Designing Dashboards"
                      width="275"
                      height="197"
                    />
                  </li>
                  <div class="featured__text__row">
                    <li>
                      <h3 class="featured__title__list">
                        Designing Dashboards
                      </h3>
                    </li>
                    <div class="featured__date__row">
                      <li>
                        <p><span class="featured__date date">2020</span></p>
                      </li>
                      <li><p class="featured__type">Dashboard</p></li>
                    </div>
                    <li>
                      <p class="featured__text">
                        Amet minim mollit non deserunt ullamco est sit aliqua
                        dolor do amet sint. Velit officia consequat duis enim
                        velit mollit. Exercitation veniam consequat sunt nostrud
                        amet.
                      </p>
                    </li>
                  </div>
                </ul></a
              >
            </div>
            <div class="featured__work__list">
              <a href="./work.html">
                <ul class="featured__lists">
                  <li>
                    <img
                      class="featured__img"
                      src="./img/featured-2.jpg"
                      alt="Vibrant Portraits"
                      width="275"
                      height="197"
                    />
                  </li>
                  <div class="featured__text__row">
                    <li>
                      <h3 class="featured__title__list">Vibrant Portraits</h3>
                    </li>
                    <div class="featured__date__row">
                      <li>
                        <p><span class="featured__date date">2018</span></p>
                      </li>
                      <li><p class="featured__type">Illustration</p></li>
                    </div>

                    <li>
                      <p class="featured__text">
                        Amet minim mollit non deserunt ullamco est sit aliqua
                        dolor do amet sint. Velit officia consequat duis enim
                        velit mollit. Exercitation veniam consequat sunt nostrud
                        amet.
                      </p>
                    </li>
                  </div>
                </ul>
              </a>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__block">
          <div class="container">
            <div class="social__row">
              <ul class="footer__lists">
                <li class="footer__social">
                  <a href="#">
                    <img src="./img/figma.svg" alt="" />
                  </a>
                </li>
                <li class="footer__social">
                  <a href="#">
                    <img src="./img/twitter.svg" alt="" />
                  </a>
                </li>
                <li class="footer__social">
                  <a href="#">
                    <img src="./img/instagram.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer__text__row">
              <p class="footer__text">
                © 2022 Your Company, Inc. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
